/* 动画 */
//first-screen
@keyframes swp1 {
    0% {
        left: -190px;
        opacity: 0;
    }
    100% {
        left: 30px;
        opacity: 1;
    }
}
@keyframes swp2 {
    0% {
        right: -190px;
        opacity: 0;
    }
    100% {
        right: 30px;
        opacity: 1;
    }
}
@keyframes swp3 {
    0% {
        top: 600px;
        opacity: 0;
    }
    100% {
        top: 70px;
        opacity: 1;
    }
}
@keyframes swp4 {
    0% {
        top: 720px;
        opacity: 0;
    }
    100% {
        top: 560px;
        opacity: 1;
    }
}
@keyframes qrcode {
    0% {
        top: 0;
    }
    50% {
        top: 112px;
    }
    100% {
        top: 0;
    }
}
@keyframes mouse {
    0% {
        bottom: 260px;
        opacity: 1;
    }
    100% {
        bottom: 100px;
        opacity: 0;
    }
}

// newinfo
@keyframes i-width {
    0% {
        width: 0;
    }
    100% {
        width: $animation-i-width;
    }
}
@keyframes i-height {
    0% {
        height: 0;
    }
    100% {
        height: $animation-i-height;
    }
}
@keyframes newinfo-left {
    0% {
        left: 15px;
    }
    50% {
        left: 0;
    }
    100% {
        left: 15px;
    }
}
@keyframes newinfo-right {
    0% {
        right: 15px;
    }
    50% {
        right: 0;
    }
    100% {
        right: 15px;
    }
}
